[Desktop Entry]
Type=Application
Version=1.0
Name=Kichi
Name[zh_CN]=Kichi
GenericName=Cloud Storage Client
GenericName[zh_CN]=云盘客户端
Comment=PikPak cloud drive client for Linux
Comment[zh_CN]=PikPak 云盘 Linux 客户端（非官方）
Exec=kichi-gui
Icon=kichi
Terminal=false
Categories=Network;FileTransfer;
Keywords=pikpak;cloud;drive;download;magnet;云盘;
StartupNotify=true
StartupWMClass=kichi
